body{
  margin:0; 
 
}

/*background*/

.navbar ul{
  
    list-style-type: none;
    display: flex; 
    align-items:center;
    background-color: darkolivegreen;
    margin:0;
    padding:0;
    overflow: hidden;
    

   
}

.navbar a {
   
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace; 
    text-decoration: none;
    padding:15px;
   display: inline-block;
    text-align:center;
    
}
.navbar a:hover{
    background-color: rgba(0, 255, 255, 0.105);  

}
.navbar li{
    float:right;
}

/*header*/
.header{
    width: 100px;
    height: 120px;
    display:block;
    background-color: rgb(80, 111, 26);
}
/*maim*/
.main h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
    