body{
  margin:0; 
}

/*background*/

.background{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    min-height:95vh;
    background-image: url("../img/AgnesMo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
h1{
    font-size: 100px;
    color:white;
    text-align: center;
    font-family: fantasy;
}



/*header*/
header{
    background-color: rgb(80, 111, 26);
}
     
.navbar ul{
  
    list-style-type: none;
    display: flex; 
    align-items:center;
    background-color: darkolivegreen;
    margin:0;
    padding:0;
    overflow: hidden;
   
}

.navbar a {
   
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace; 
    text-decoration: none;
    padding:15px;
   display: inline-block;
    text-align:center;
    
}
.navbar a:hover{
    background-color: rgba(0, 255, 255, 0.105);  

}
.navbar li{
    float:right;
}