---
import '../styles/style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
	</head>
	<body>
		<h1>My Simple Website</h1>
		<header>
			<div class="container">
				
				<section class="top-bar">
				<div class="home">Home</div>
				<div class="about">About</div>
				<div class="News">News</div>
				<div class="Playlist">Playlist</div>
				</section>

			</div>
		</header>

		
		<h2>AGNES MO</h2>
		<img src="img/Mo.jpg" alt="Mo"/>

		

	
		</body>
</html>

<script>
	
</script>
